{% extends 'base.html' %}
{% load static %}

<title>
  {% block title %}
  Success
  {% endblock title %}

</title>


{% block stylesheet %}

<link rel="stylesheet" href="{%static 'css/success.css'%}">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>

{% endblock stylesheet %}


{% block content %}
  <div class="congrats__div">
    <h1 class="congrats">Application Submitted!</h1>
    <p class="success__p">Tweet it out to increase your chances <br> of being selected</p>
    <a href="https://twitter.com/intent/tweet?text=Just%20tried%20to%20get%20on%20the%20%40AptoRaccoons%20Dvmpster%20list.%20Wish%20me%20luck%20%23Aptos%20%23AptosMovement" class="button button--flex" id="twitterLink" target="_blank"
      data-show-count="false"><i class='bx bxl-twitter'></i>Send Tweet</a>

  </div>
{% endblock content %}


{% block script %}
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js'></script>
  <script src="{% static 'js/success.js'%}"></script>
{% endblock script %}
  