/****** CODE ******/

.file-upload,
.file-upload2,
.file-upload3 {
  display: block;

  font-size: 12px;

}

.file-upload .file-select,
.file-upload2 .file-select2,
.file-upload3 .file-select3 {
  display: block;
  /* outline-color: var(--secondary-color); */

  border-radius: .2rem;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: transparent;
  overflow: hidden;
  position: relative;
  margin-top: 0.5rem;
}

.file-upload .file-select .file-select-button,
.file-upload2 .file-select2 .file-select-button2,
.file-upload3 .file-select3 .file-select-button3 {
  /* background: var(--main-color); */
  background-color: #e0363f;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #f3eadb;
}

.file-upload .file-select .file-select-name,
.file-upload2 .file-select2 .file-select-name,
.file-upload3 .file-select3 .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover,
.file-upload2 .file-select2:hover,
.file-upload3 .file-select3:hover {
  border-color: var(--main-color);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button,
.file-upload2 .file-select2:hover .file-select-button2,
.file-upload3 .file-select3:hover .file-select-button3 {
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select,
.file-upload2.active .file-select2,
.file-upload3.active .file-select3 {
  border-color: #3fa46a;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button,
.file-upload2.active .file-select2 .file-select-button2,
.file-upload3.active .file-select3 .file-select-button3 {
  background: #3fa46a;
  color: #FFFFFF;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file],
.file-upload2 .file-select2 input[type=file],
.file-upload3 .file-select3 input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled,
.file-upload2 .file-select2.file-select2-disabled,
.file-upload3 .file-select3.file-select3-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover,
.file-upload2 .file-select2.file-select3-disabled:hover,
.file-upload3 .file-select3.file-select3-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select3-disabled:hover .file-select-button,
.file-upload2.file-select2.file-select3-disabled:hover .file-select-button2,
.file-upload3 .file-select3.file-select3-disabled:hover .file-select-button3 {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name,
.file-upload2 .file-select2.file-select-disabled:hover .file-select-name,
.file-upload3.file-select3.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}